<div class="fullscreen container-fluid">
    <div class="fullscreen row">
        <div class="sidenav col-2">
            <div class="brand container mt-5 mb-3">
                <img src="/images/appicon.ico" class="brand-icon mr-2">
                <h2 class="text-white">NERV</h3>
            </div>
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link active" href="/">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Sensors</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Inventory</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Settings</a>
                </li>
            </ul>
        </div>
        <div class="main-content col-10 bg-darkgrey">
            <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-lightgrey">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="profileMenu" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{username}}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="profileMenu">
                            <button class="dropdown-item" type="submit" form="logout">Logout</button>
                            <form id="logout" class="d-none" action="/logout" method="POST"></form>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>