<!DOCTYPE html>
<html>
	<head>
		<title>{{title}} - NERV</title>
		<meta charset="utf-8" />
		<link rel="icon" href="images/appicon.ico" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="theme-color" content="#000000" />
		<link rel="apple-touch-icon" href="/images/appicon.ico" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel='stylesheet' href='/thirdparty/bootstrap.min.css' />
		<link rel='stylesheet' href='/css/style.css' />
		{{{block "css"}}}
	</head>
	<body>
		<div class="page-content">
			{{{body}}}
		</div>	
		<script src='/thirdparty/jquery.min.js'></script>
		<script src='/thirdparty/bootstrap.bundle.min.js'></script>
	</body>
</html>